.navbar {
    display: flex;
    width: 100%;
}

.app-bar {
    position: static;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.logo-img {
    height: 30px;
    width: auto;
}

@media (max-width: 600px) {
    .app-bar {
        display: flex;
        justify-content: center;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 601px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
    }
}
